<div class="container">
  <div class="container py-5">
    <h2 class="text-light pt-5 pb-3">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-info">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    placeholder: 'Your em@il',
                    input_html: { autocomplete: "email" }%>
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    placeholder: 'Your username'%>
        <%= f.input :password,
                    required: true,
                    placeholder: 'Password',
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    placeholder: 'Type your password again',
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions d-flex justify-content-end">
        <div id="submit_button">
          <%= f.button :submit, "Sign up", class: 'btn btn-outline-info' %>
        </div>
      <% end %>
      </div>
    </div>
</div>
