<%= simple_form_for(@playlist) do |f| %>
  <p class="titlebox font-weight-bold text-center">Playlist</p>
  <p class="pt-1"><%= f.label :name %></p>
  <p class="pb-4"><%= f.text_field :name %></p><br>
  <p class="titlebox font-weight-bold text-center">Event</p>
  <p class="pb-1"><%= f.input :date, as: :date %></p><br>
  <p class="text-right"><%= f.submit %>
<% end %>
