  <div class="track-container" id="track-<%= track.id %>">
    <div class="song-card list-group-item list-group-item-action m-0.1 p-0">
      <div class="song-card2 song-card d-flex w-100 min-vh-25">
        <div class="px-4">
          <% if policy(track).remove? %>
            <%= link_to remove_playlist_track_path(@playlist, track), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-times text-dark"></i>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex w-100 min-vh justify-content-between">
          <div>
            <h5 class="mb-0 mt-0 font-medium"><%= track.title %></h5>
            <small class="font-small"><%= track.artist %> - <%= track.album %></small>
          </div>
          <div class="align-items">
            <span class="badge badge-pill align-items-end">
              <% if track.spotify_uri.present? %>
                <%= link_to track.spotify_url , target: :_blank do%>
                  <i class="fab fa-spotify pt-2 px-3 text-white"></i>
                <% end %>
              <% end %>
            </span>
            <span class="badge badge-light badge-pill">
                <%= link_to track.youtube_search , target: :_blank do%>
                <i class="fab fa-youtube pt-2 px-3"></i>
            <% end %>
            </span>
            <small class="px-3 pt-2"><%= track.duration.divmod(1000 * 60).first %>:<%= track.duration.divmod(1000 * 60).second/1000 %></small>
          </div>
        </div>
        <%= render 'tracks/vote', track: track%>
      <!--<%= link_to playlist_track_votes_path(@playlist, track), method: :post do %>
          <button type="button" class="btn btn-dark">
            <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i><span class="badge badge-light badge-pill"><%= track.votes.count %></span>
          </button>
        <% end %>
        -->
      </div>
    </div>
  </div>


