<div class="container py-5 mb-5">
  <div class="logo2"><b><%= @playlist.room_code %></b></div>

  <div class="row d-flex w-100 justify-content-between pt-4">
    <div class="playlist-name col-md-6 col-sm-12">
      <h2 class="playlist-name text-white pl-4"><strong><%= @playlist.name %></strong></h2>
        <p class="by-dj text-white mt-2 pl-4">by <%= @playlist.user.username %></p>
    </div>
    <div class=" col-md-6 col-sm-12 d-flex align-items-end flex-column">
      <% if @playlist.user == current_user %>
        <% if @playlist.playlist_uri == nil %>
          <p class="Spotify"> <%=link_to 'Create a Spotify Playlist', call_spotify_path(playlist_id: @playlist.id), class:"btn btn-flat btn-sm" %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="playlist-info row d-flex w-100 justify-content-between">
    <div class="date col-7">
        <small class="pl-4"><i class="fa fa-calendar" aria-hidden="true"></i> <%= @playlist.date.day.ordinalize %> of <%= @playlist.date.strftime("%B") %> <%= @playlist.date.year %></small>
    </div>
    <div class="switch col-5 d-flex flex-column align-items-end">
      <% if @playlist.user == current_user %>
        <div class="d-flex">
          <% if @playlist.submission == false %>
            <small class="text-white font-weight-lighter pr-1">Submission</small><%= link_to playlist_path(@playlist, "playlist[submission]" => "true"), method: :patch, class: "badge badge-pill badge-secondary align-self-center" do %>
              <i class="fas fa-toggle-off"></i>
            <% end %>
          <% else %>
            <small class="text-white font-weight-lighter pr-1">Submission</small><%= link_to playlist_path(@playlist, "playlist[submission]" => "false"), method: :patch, class: "badge badge-pill badge-secondary align-self-center" do %>
              <i class="fas fa-toggle-on"></i>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex pt-2">
          <% if @playlist.seetracks == false %>
            <small class="text-white font-weight-lighter pr-1">Visible tracks</small><%= link_to playlist_path(@playlist, "playlist[seetracks]" => "true"), method: :patch, class: "badge badge-pill badge-secondary align-self-center" do %>
              <i class="fas fa-toggle-off"></i>
            <% end %>
          <% else %>
            <small class="text-white font-weight-lighter pr-1">Visible tracks</small><%= link_to playlist_path(@playlist, "playlist[seetracks]" => "false"), method: :patch, class: "badge badge-pill badge-secondary align-self-center" do %>
              <i class="fas fa-toggle-on"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="submission">
    <% if @playlist.submission == true %>
      <div class="px-3 visible">
        <%= render "tracks/form"%>
      </div>
    <% else %>
      <% if @playlist.user == current_user %>
        <div class="px-3 visible">
          <%= render "tracks/form"%>
        </div>
      <% else %>
        <div class="px-3 invisible">
          <%= render "tracks/form"%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="seetracks">
    <% if @playlist.seetracks == true %>
      <div class="list-group-flush visible pb-3" id="tracks" data-spotify-token="<%= @token %>" data-playlist-id="<%= @playlist.id %>">
        <% @playlist.tracks.sort_by{|track1| - track1.votes_number(@playlist.id)}.each do |track| %>
          <%= render "track", track: track %>
        <% end %>
      </div>
    <% elsif @playlist.user == current_user%>
        <div class="list-group-flush visible pb-3" id="tracks" data-spotify-token="<%= @token %>" data-playlist-id="<%= @playlist.id %>">
        <% @playlist.tracks.sort_by{|track1| - track1.votes_number(@playlist.id)}.each do |track| %>
          <%= render "track", track: track %>
        <% end %>
        </div>
    <% elsif @playlist.seetracks == false %>
        <div class="list-group-flush invisible pb-3" id="tracks" data-spotify-token="<%= @token %>" data-playlist-id="<%= @playlist.id %>">
          <% @playlist.tracks.sort_by{|track1| - track1.votes_number(@playlist.id)}.each do |track| %>
            <%= render "track", track: track %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
