<div class="d-flex w-100 justify-content-between p-5">
  <div>
    <h1><%= @playlist.name %></h1>
    <p>by <%= @playlist.user.username %></p>
  </div>
  <h1><span class="badge badge-secondary"><%= @playlist.room_code %></span></h1>
</div>
<div class="p-3">
  <%= render "tracks/form"%>
</div>
<div class="list-group-flush" id="tracks" data-playlist-id="<%= @playlist.id %>">
  <% @playlist.tracks.each do |track| %>
    <%= render "track", track: track%>
  <% end %>
</div>
