<!DOCTYPE html>
<html>
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41023689-4"></script>
    <%= javascript_include_tag 'analytics', async: true %>
    <title>AskTheDj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

    <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

        <%= yield %>

      <div class="row footer fixed-bottom">
        <div class="col-4 footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col-4 text-center d-none d-sm-block">
          <small class="text-white">Create your own <strong><%= link_to "Party Room", user_session_path, class: "text-decoration-none text-white" %></strong></small><br>
          <small class="text-white">Terms | Privacy</small>
        </div>
        <div class="footer-text col-4 footer-copyright d-none d-sm-block">
          Listen to what <strong>YOU</strong> want to hear <i class="fas fa-headphones-alt"></i>

        </div>
      </div>
    </body>
</html>
